/* score.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff4500;  /* Orange foncé */
    font-size: 36px;
    margin-bottom: 20px;
}

#score {
    font-size: 24px;
    margin: 20px 0;
}

#serveur {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e43f00;
}

a {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #ff4500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#serveurPoint {
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}
